.stars {
  display: flex;
  align-items: center;
}

.stars__item {
  margin: 0 5px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.stars__item_on {
  background-image: url(../../assets/icons/starfull.svg);
}

.stars__item_off {
  background-image: url(../../assets/icons/emptystar.svg);
}

.stars__item_half {
  background-image: url(../../assets/icons/halfstar.svg);
}