.comment__item {
  padding: 20px 0;
  border-top: 1px solid #cccccc;
}

.comment .stars {
  padding: 0;
}

.comment__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.author__name {
  font-weight: 700;
}

.author__rating-detail {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.author__detail {
  padding-left: 10px;
  font-size: 14px;
}

.comment__btns {
  padding-top: 30px;
  display: flex;
  gap: 5px;
}

.comment__btn {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  text-align: right;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 30px 20px;
  transition: background-color .3s;
}

.comment__btn_like {
  background-image: url(../../assets/icons/like.svg);
}

.comment__btn_dislike {
  background-image: url(../../assets/icons/dislike.svg);
}

.comment__btn:hover {
  background-color: #e4e0e0;
}